# .gitignore file

# Ignore .NET build files
bin/
obj/

# Ignore Node.js build files
node_modules/

# Ignore React build files
client-app/build/

# Ignore environment variables
.env

# Ignore VS Code settings
.vscode/

# Ignore MacOS system files
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
venv/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn
*.py~
